nav {
    background-color: #D5394F;
}

a {
    color: white;
}

footer {
    background-color: #D5394F;
    color: white;
    text-align: center;
    padding: 1%;
}

ul {
    list-style: none;
}

input, textarea {
    color:#b72b3e;
    border: #b72b3e 1px solid;
}

label, i {
    color:#b72b3e;
}

p {
    text-align: center;
}

h1, h2, b, strong {
    text-align: center;
    color: #D5394F;
}

h3, h5 {
    color: #b72b3e;
}

a:hover {
     color: #ffffff;
}

.logo {
    height: 200px;
}

.white {
    color: white;
}

.base {
    color: #b72b3e;
    border: #b72b3e 2px solid;
}

.red:hover {
    background-color: #D5394F;
    color:#ffffff;
}

.normalred {
    background-color: #D5394F;
    color:#ffffff;
}

.headerimg {
    background-color: #D5394F;
    border: 6px solid;
    border-color: #E8919D;
}

.card {
    text-align: center;
    border: 4px solid;
    border-radius: 10px;
    border-color:#b72b3e;
}

.deco {
        background: #D5394F;
        color:#ffffff;
        text-align: center;
        margin-left: -10px;
        margin-right: -10px;
      }

.formulario {
    background-image: url(https://i.pinimg.com/originals/05/59/94/05599424bb5a1b7819956d0288559697.gif);
    margin-left: 30%;
    margin-right: 30%;
    padding-bottom: 2%;
    padding-top: 2%;
}

.destaques {
    background-image: url(https://i.pinimg.com/originals/05/59/94/05599424bb5a1b7819956d0288559697.gif);
}

.space {
    margin-right: 20px;
    
}

#destiny:hover {
    color:#b72b3e;
}

#footlinks:hover {
    color: #ffd0d7;
}

#sub {
    color:#ffffff;
    background-color: #D5394F;
    border:#D5394F 1px solid;
}

